In [72]:
print("Hello! welcome to databases and SQL for Data Science")

Hello! welcome to databases and SQL for Data Science

Connect to Db2 database on Cloud using Python

# Introduction 
Let see how to open connection database db2 using python

In [73]:
#ibm_db API provide a large number of python function for accessing and manipulating a large number of data in IBM database server
import ibm_db

To identify database connection we need few information like:
Driver Name
Database name
Host DNS name or IP address
Host port
Connection protocol
User ID (or username)
User Password

 To get this information go to IBM Cloud Dashboard, then select db2. You will see server credential, click on view credential.

In [74]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_hostname = "dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net" # e.g.: "awh-yp-small03.services.dal.bluemix.net"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"
dsn_uid = "rwx55366"        # e.g. "dash104434"
dsn_pwd = "1bvnbq9xh93@3txb"       # e.g. "7dBZ3wWt9XN6$o0JiX!m"

In [75]:
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

DRIVER={IBM DB2 ODBC DRIVER};DATABASE=BLUDB;HOSTNAME=dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net;PORT=50000;PROTOCOL=TCPIP;UID=rwx55366;PWD=1bvnbq9xh93@3txb;

In [76]:
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected!")

except:
    print ("Unable to connect to database")

Connected!

In [77]:
#let's create the table in database
#Lets first drop the table INSTRUCTOR in case it exists from a previous attempt
dropQuery = "drop table INSTRUCTOR"

#Now execute the drop statment
dropQuery = ibm_db.exec_immediate(conn, dropQuery)

In [78]:
#Construct the Create Table DDL statement - replace the ... with rest of the statement
createQuery = "create table INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))"

createStmt = ibm_db.exec_immediate(conn,createQuery)

In [79]:
#Construct the query - replace ... with the insert statement
insertQuery = "insert into INSTRUCTOR values (1,'Rav','Ahuja','Toronto','CA'),(2,'Raul','Chong','Toronto','CA'),(3,'Hima','Vasudevan','Chicago','US') "

#execute the insert statement
insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [80]:
#Construct the query that retrieves all rows from the INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#Execute the statement
selectStmt = ibm_db.exec_immediate(conn, selectQuery)

#Fetch the Dictionary (for the first row only) - replace ... with your code
dictquery="select * from INSTRUCTOR where id=1"
dictstmt=ibm_db.exec_immediate(conn, dictquery)

# Retrieve data into Pandas

In this step we will the contents of the INSTRUCTOR table into a Pandas dataframe

In [81]:
import pandas as pd
import ibm_db_dbi as db

In [82]:
#connection for pandas
pconn=db.Connection(conn)

In [83]:
#query statement to retrieve all rows in INSTRUCTOR table
selectQuery = "select * from INSTRUCTOR"

#retrieve the query results into a pandas dataframe
pdf = pd.read_sql(selectQuery, pconn)

#print just the LNAME for first row in the pandas data frame
pdf.LNAME[0]

'Ahuja'

In [84]:
#print the entire data frame
pdf

   ID FNAME      LNAME     CITY CCODE
0   1   Rav      Ahuja  Toronto    CA
1   2  Raul      Chong  Toronto    CA
2   3  Hima  Vasudevan  Chicago    US

In [85]:
pdf.shape

(3, 5)

In [86]:
#close the connection
#ibm_db.close(conn)